RewriteEngine On

# Redirigir URLs con .html a URLs sin .html
RewriteCond %{THE_REQUEST} \s/([^.]+)\.html [NC]
RewriteRule ^ /%1 [R=301,L]

# Reescribir URLs sin extensión a sus archivos .html correspondientes
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([a-zA-Z0-9_-]+)$ $1.html [L]
